@model HelpdeskSystem.Models.OS

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar OS</h1>

<h3>Voce tem certeza que deseja deletar a Ordem de Serviço?</h3>
<div>
    <h4>OS</h4>
    <hr />
    <div class="row">
        <table class="table"
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Titulo)
                </td>

                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Descricao)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Status)
                </td>

                <th>
                    @Html.DisplayNameFor(model => model.Prioridade)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Prioridade)
                </td>
            </tr>
            <tr>
               <th>
                    @Html.DisplayNameFor(model => model.CriadoPor)
                </th>
                <td>
                    @Html.DisplayFor(model => model.CriadoPor.FullName)
                </td>

                <th>
                    @Html.DisplayNameFor(model => model.CriadoEm)
                </th>
                <td>
                    @Html.DisplayFor(model => model.CriadoEm)
                </td>
            </tr>
        </table>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar a Lista</a>
    </form>
</div>

