@model HelpdeskSystem.Models.Ticket.Ticket

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar Chamado</h1>

<h3>Voce tem certeza que deseja deletar o chamado?</h3>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Chamado: </h3>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Title)
                </td>

                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Description)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Status)
                </td>

                <th>
                    @Html.DisplayNameFor(model => model.Priority)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Priority)
                </td>
            </tr>
            <tr>
               <th>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>
                <td>
                    @Html.DisplayFor(model => model.CreatedBy.FullName)
                </td>

                <th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <td>
                    @Html.DisplayFor(model => model.CreatedOn)
                </td>
            </tr>
        </table>
    </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar a Lista</a>
    </form>
</div>
