@model HelpdeskSystem.ViewModels.TicketViewModel

@{
    ViewData["Title"] = "TicketAssignment";
}

<h1>Atribuir Chamado</h1>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Resolução do Chamado: </h3>
    </div>
    <div class="row">
        <div class="col md-6">
            <table id="example1" class="table table-bordered table-striped">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.TicketDetails.Title)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.TicketDetails.Description)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.StatusId)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.TicketDetails.Status.Description)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PriorityId)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.TicketDetails.Priority.Description)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.TicketDetails.CreatedBy.FullName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.TicketDetails.CreatedOn)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Attachment)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.TicketDetails.Attachment)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SubCategoryId)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.TicketDetails.SubCategory.Name)
                    </td>
                </tr>
            </table>
            <h4> Histórico do Chamado </h4>
            <table id="example1" class="table table-bordered table-striped ">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Resolution.CreatedBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Resolution.CreatedOn)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Resolution.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Resolution.Status)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TicketResolutions)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedBy.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedOn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status.Description)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h4> Observações de chamados </h4>
            <table id="example1" class="table table-bordered table-striped ">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TicketComment.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TicketComment.CreatedBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TicketComment.CreatedOn)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TicketComments)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedBy.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedOn)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <form asp-action="AssignmentConfirmed" method="post" enctype="multipart/form-data">
                <input type="hidden" class="hidden" asp-for="Id" />
                <div class="row mt-3 me-1">
                    <div class="row">
                        <label class="control-label">Atribuir chamado a:</label>
                        <select asp-for="AssignedToId" class="form-control" asp-items="ViewBag.Technicians"></select>
                    </div>
                    <div class="row">
                        <label class="control-label">Insira uma observação final:</label>
                        <textarea asp-for="TicketDescription" class="form-control w-100" rows="4"></textarea>
                    </div>
                    <button class="btn btn-primary mt-3 mb-3">Atribuir</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Voltar a Lista</a>
</div>
