@model HelpdeskSystem.ViewModels.TicketSubCategoriesVM

@{
    ViewData["Title"] = "Index";
}

<p>
    <a class="btn btn-dark" asp-action="Create" asp-route-id="@Model.CategoriaId">Nova Sub-Categoria</a>
</p>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Sub-Categorias: </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CategoriaId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CriadoPor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CriadoEm)
                    </th>
                    <th>Editar</th>
                    <th>Visualizar</th>
                    <th>Apagar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TicketSubCategories)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoriaId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CriadoPor.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CriadoEm)
                        </td>
                        <td>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>