@model IEnumerable<HelpdeskSystem.Models.AuditTrail>

@{
    ViewData["Title"] = "Index";
}

<h1>Auditoria</h1>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Trilha de Auditoria: </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Action)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Module)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AffectedTable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IpAdress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.FullName)
            </th>
            <th>Visualizar</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Action)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Module)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AffectedTable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IpAdress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
            </td>
            </tr>
        
}
    </tbody>
</table>
</div>
</div>