@model HelpdeskSystem.ViewModels.AuditTrailViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Auditoria</h1>
<form asp-action="Index" method="get" class="mb-4">
    <div class="row">
        <div class="col-md-3">
            <label>Módulo</label>
            <input asp-for="Module" class="form-control" />
        </div>
        <div class="col-md-3">
            <label>Ação</label>
            <input asp-for="Action" class="form-control" />
        </div>
        <div class="col-md-3">
            <label>Usuário</label>
            <select asp-for="UserId" asp-items="Model.Users" class="form-control">
                <option value="">Todos</option>
            </select>
        </div>
        <div class="col-md-3">
            <label>De</label>
            <input asp-for="From" type="date" class="form-control" />
        </div>
        <div class="col-md-3 mt-2">
            <label>Até</label>
            <input asp-for="To" type="date" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <button type="submit" class="btn btn-primary mt-2">Filtrar</button>
            <a asp-action="Index" class="btn btn-secondary mt-2">Limpar</a>
        </div>
    </div>
</form>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Trilha de Auditoria: </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Action)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Module)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AffectedTable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IpAdress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.FullName)
            </th>
            <th>Visualizar</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Logs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Action)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Module)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AffectedTable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IpAdress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
            </td>
            </tr>
        
}
    </tbody>
</table>
</div>
</div>