@model HelpdeskSystem.ViewModels.SystemSettingsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Configurações de Sistema</h1>
<form asp-action="Index" method="get" class="mb-4">
    <div class="row">
        <div class="col-md-4">
            <label>Código</label>
            <input asp-for="Code" class="form-control" />
        </div>
        <div class="col-md-4">
            <label>Nome</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="col-md-4 mt-4">
            <button type="submit" class="btn btn-primary mt-2">Filtrar</button>
            <a asp-action="Index" class="btn btn-secondary mt-2">Limpar</a>
        </div>
    </div>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                Criado Por
            </th>
            <th>
                Criado Em
            </th>
            <th>
                Modificado Por
            </th>
            <th>
                Modificado Em
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Settings) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedOn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
