@model IEnumerable<HelpdeskSystem.Models.TicketCategory>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a class="btn btn-dark" asp-action="Create">Nova Categoria</a>
</p>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Categorias: </h3>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Codigo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CriadoPor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CriadoEm)
                    </th>
                    <th>Editar</th>
                    <th>Sub-Categorias</th>
                    <th>Detalhes</th>
                    <th>Apagar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Codigo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CriadoPor.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CriadoEm)
                        </td>
                        <td>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        </td>
                        <td>
                            <a class="btn btn-warning" asp-action="Index" asp-controller="TicketSubCategories" asp-route-id="@item.Id">Sub-Categorias</a>
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                        </td>
                    </tr>      
                }
            </tbody>
        </table>
    </div>
</div>
