@model HelpdeskSystem.ViewModels.SystemTaskViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-action="Index" method="get" class="mb-4">
    <div class="row">
        <div class="col-md-3">
            <label>Módulo</label>
            <input asp-for="Code" class="form-control" />
        </div>
        <div class="col-md-3">
            <label>Ação</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="col-md-3">
            <label>Usuário</label>
            <select asp-for="CreatedById" asp-items="Model.Users" class="form-control">
                <option value="">Todos</option>
            </select>
        </div>
        <div class="col-md-3">
            <label>De:</label>
            <input asp-for="CreatedFrom" type="date" class="form-control" />
        </div>
        <div class="col-md-3 mt-2">
            <label>Até:</label>
            <input asp-for="CreatedTo" type="date" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <button type="submit" class="btn btn-primary mt-2">Filtrar</button>
            <a asp-action="Index" class="btn btn-secondary mt-2">Limpar</a>
        </div>
    </div>
</form>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Ligado a
            </th>
            <th>
                Ordem Nº
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tasks) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parent.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
