@model IEnumerable<HelpdeskSystem.Models.SystemCode>

@{
    ViewData["Title"] = "Index";
}

<h1>Códigos de Sistema</h1>

<p>
    <a asp-action="Create">Criar novo Código</a>
</p>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Códigos de Sistema: </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriadoPor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriadoEm)
            </th>
            <th>Editar</th>
            <th>Detalhes</th>
            <th>Deletar</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <th>
                @Html.DisplayFor(model => item.CriadoPor.FullName)
            </th>
            <th>
                @Html.DisplayFor(model => item.CriadoEm)
            </th>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
            </td>
             <td>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
